<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.mes.mapper.MesExwarehousingInfoMapper">
    
    <resultMap type="MesExwarehousingInfo" id="MesExwarehousingInfoResult">
        <result property="id"    column="id"    />
        <result property="crystalCode"    column="crystal_code"    />
        <result property="spec"    column="spec"    />
        <result property="type"    column="type"    />
        <result property="length"    column="length"    />
        <result property="thicknessSplice"    column="thickness_splice"    />
        <result property="slicerModel"    column="slicer_model"    />
        <result property="storageLocation"    column="storage_location"    />
        <result property="exwarehousingTime"    column="exwarehousing_time"    />
        <result property="spec1"    column="spec1"    />
        <result property="type1"    column="type1"    />
        <result property="length1"    column="length1"    />
        <result property="thicknessSplice1"    column="thickness_splice1"    />
        <result property="slicerModel1"    column="slicer_model1"    />
        <result property="storageLocation1"    column="storage_location1"    />
        <result property="code"    column="code"    />
        <result property="model"    column="model"    />
        <result property="isConnectible"    column="is_connectible"    />
        <result property="connectibleCount"    column="connectible_count"    />
        <result property="connectionType"    column="connection_type"    />
        <result property="workingTime"    column="working_time"    />
        <result property="transmittingState"    column="transmitting_state"    />
        <result property="storageState"    column="storage_state"    />
    </resultMap>

    <sql id="selectMesExwarehousingInfoVo">
        select id, crystal_code, spec, type, length, thickness_splice, slicer_model, storage_location, exwarehousing_time, spec1, type1, length1, thickness_splice1, slicer_model1, storage_location1, code, model, is_connectible, connectible_count, connection_type, working_time, transmitting_state, storage_state from mes_exwarehousing_info
    </sql>

    <select id="selectMesExwarehousingInfoList" parameterType="MesExwarehousingInfo" resultMap="MesExwarehousingInfoResult">
        <include refid="selectMesExwarehousingInfoVo"/>
        <where>  
            <if test="crystalCode != null  and crystalCode != ''"> and crystal_code = #{crystalCode}</if>
            <if test="spec != null  and spec != ''"> and spec = #{spec}</if>
            <if test="type != null  and type != ''"> and type = #{type}</if>
            <if test="length != null "> and length = #{length}</if>
            <if test="thicknessSplice != null  and thicknessSplice != ''"> and thickness_splice = #{thicknessSplice}</if>
            <if test="slicerModel != null  and slicerModel != ''"> and slicer_model = #{slicerModel}</if>
            <if test="storageLocation != null  and storageLocation != ''"> and storage_location = #{storageLocation}</if>
            <if test="exwarehousingTime != null "> and exwarehousing_time = #{exwarehousingTime}</if>
        </where>
    </select>
    
    <select id="selectMesExwarehousingInfoById" parameterType="Long" resultMap="MesExwarehousingInfoResult">
        <include refid="selectMesExwarehousingInfoVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertMesExwarehousingInfo" parameterType="MesExwarehousingInfo" useGeneratedKeys="true" keyProperty="id">
        insert into mes_exwarehousing_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="crystalCode != null">crystal_code,</if>
            <if test="spec != null">spec,</if>
            <if test="type != null">type,</if>
            <if test="length != null">length,</if>
            <if test="thicknessSplice != null">thickness_splice,</if>
            <if test="slicerModel != null">slicer_model,</if>
            <if test="storageLocation != null">storage_location,</if>
            <if test="exwarehousingTime != null">exwarehousing_time,</if>
            <if test="spec1 != null">spec1,</if>
            <if test="type1 != null">type1,</if>
            <if test="length1 != null">length1,</if>
            <if test="thicknessSplice1 != null">thickness_splice1,</if>
            <if test="slicerModel1 != null">slicer_model1,</if>
            <if test="storageLocation1 != null">storage_location1,</if>
            <if test="code != null">code,</if>
            <if test="model != null">model,</if>
            <if test="isConnectible != null">is_connectible,</if>
            <if test="connectibleCount != null">connectible_count,</if>
            <if test="connectionType != null">connection_type,</if>
            <if test="workingTime != null">working_time,</if>
            <if test="transmittingState != null">transmitting_state,</if>
            <if test="storageState != null">storage_state,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="crystalCode != null">#{crystalCode},</if>
            <if test="spec != null">#{spec},</if>
            <if test="type != null">#{type},</if>
            <if test="length != null">#{length},</if>
            <if test="thicknessSplice != null">#{thicknessSplice},</if>
            <if test="slicerModel != null">#{slicerModel},</if>
            <if test="storageLocation != null">#{storageLocation},</if>
            <if test="exwarehousingTime != null">#{exwarehousingTime},</if>
            <if test="spec1 != null">#{spec1},</if>
            <if test="type1 != null">#{type1},</if>
            <if test="length1 != null">#{length1},</if>
            <if test="thicknessSplice1 != null">#{thicknessSplice1},</if>
            <if test="slicerModel1 != null">#{slicerModel1},</if>
            <if test="storageLocation1 != null">#{storageLocation1},</if>
            <if test="code != null">#{code},</if>
            <if test="model != null">#{model},</if>
            <if test="isConnectible != null">#{isConnectible},</if>
            <if test="connectibleCount != null">#{connectibleCount},</if>
            <if test="connectionType != null">#{connectionType},</if>
            <if test="workingTime != null">#{workingTime},</if>
            <if test="transmittingState != null">#{transmittingState},</if>
            <if test="storageState != null">#{storageState},</if>
         </trim>
    </insert>

    <update id="updateMesExwarehousingInfo" parameterType="MesExwarehousingInfo">
        update mes_exwarehousing_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="crystalCode != null">crystal_code = #{crystalCode},</if>
            <if test="spec != null">spec = #{spec},</if>
            <if test="type != null">type = #{type},</if>
            <if test="length != null">length = #{length},</if>
            <if test="thicknessSplice != null">thickness_splice = #{thicknessSplice},</if>
            <if test="slicerModel != null">slicer_model = #{slicerModel},</if>
            <if test="storageLocation != null">storage_location = #{storageLocation},</if>
            <if test="exwarehousingTime != null">exwarehousing_time = #{exwarehousingTime},</if>
            <if test="spec1 != null">spec1 = #{spec1},</if>
            <if test="type1 != null">type1 = #{type1},</if>
            <if test="length1 != null">length1 = #{length1},</if>
            <if test="thicknessSplice1 != null">thickness_splice1 = #{thicknessSplice1},</if>
            <if test="slicerModel1 != null">slicer_model1 = #{slicerModel1},</if>
            <if test="storageLocation1 != null">storage_location1 = #{storageLocation1},</if>
            <if test="code != null">code = #{code},</if>
            <if test="model != null">model = #{model},</if>
            <if test="isConnectible != null">is_connectible = #{isConnectible},</if>
            <if test="connectibleCount != null">connectible_count = #{connectibleCount},</if>
            <if test="connectionType != null">connection_type = #{connectionType},</if>
            <if test="workingTime != null">working_time = #{workingTime},</if>
            <if test="transmittingState != null">transmitting_state = #{transmittingState},</if>
            <if test="storageState != null">storage_state = #{storageState},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteMesExwarehousingInfoById" parameterType="Long">
        delete from mes_exwarehousing_info where id = #{id}
    </delete>

    <delete id="deleteMesExwarehousingInfoByIds" parameterType="String">
        delete from mes_exwarehousing_info where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>